.image-popup {
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  -webkit-transition: visibility 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0.5s, opacity 0.5s linear;
  -o-transition: visibility 0.5s, opacity 0.5s linear;
  display: flex;
}

.image-popup::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: .9;
  z-index: -1;
}
