.footer__copyright {
  font-family: 'Inter', Arial, sans-serif;
  color: #545454;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding-bottom: 60px;
  padding-top: 67px;
}

@media (max-width: 900px) {
  .footer__copyright {
    padding: 48px 19px 36px;
  }
}
@media (max-width: 425px) {
  .footer__copyright {
    padding: 48px 19px 36px;
  }
}
