.profile__work {
  font-family: 'Inter', Arial, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

@media (max-width: 700px) {
  .profile__work {
    margin: auto;
    padding-bottom: 36px;
  }
}

@media (max-width: 450px) {
  .profile__work {
    font-size: 14px;
    line-height: 17px;
  }
}


