.popup__close {
  position: absolute;
  top: -50px;
  right: -57px;
  background-image: url('../../../images/close_icon.svg');
  transition: .3s linear;
  width: 57px;
  height: 57px;
  outline: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 550px) {
  .popup__close {
    top: -40px;
    right: 0px;
    width: 37px;
    height: 37px;
    background-size: cover;
  }
}
