.profile__name {
  font-family: 'Inter', Arial, sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding-bottom: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: flex;
  align-items: baseline;
  position: relative;
}

@media (max-width: 450px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}

