 .elements__like {
   height: 25px;
   width: 25px;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../../../images/like.svg);
 }

 .elements__like:hover {
  background-image: url(../../../images/like_hover.svg);
  cursor: pointer;
 }

 .elements__like:active {
  background-image: url(../../../images/like_active.png);
  cursor: pointer;
 }
