 .elements__like {
   height: 25px;
   width: 25px;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../../../images/like.svg);
   border: 0;
   background-color: transparent;
   padding: 0;
   outline: none;
 }

 .elements__like:hover {
  background-image: url(../../../images/like_hover.svg);
  cursor: pointer;
 }
